pipeline/Azure databricks to SQL server.json
{
	"name": "Azure databricks to SQL server",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('the_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "the_names",
					"value": [
						"circuits",
						"constructors",
						"drivers",
						"laptimes",
						"pitstops",
						"qualifying",
						"races",
						"results"
					]
				}
			}
		],
		"variables": {
			"the_names": {
				"type": "Array",
				"defaultValue": [
					"circuits",
					"constructors",
					"drivers",
					"laptimes",
					"pitstops",
					"qualifying",
					"races",
					"results"
				]
			},
			"circuits": {
				"type": "String"
			}
		},
		"annotations": []
	}
}