pipeline/Azure databricks to SQL server.json
{
	"name": "Azure databricks to SQL server",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.structure.physicalName",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"exportSettings": {
										"type": "AzureDatabricksDeltaLakeExportCommand"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "dl-raw"
								}
							},
							"inputs": [
								{
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().physicalName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "on_premdb_races",
									"type": "DatasetReference",
									"parameters": {
										"sql_table_name": {
											"value": "@item().physicalName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "on_premdb_races",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					]
				}
			}
		],
		"variables": {
			"the_names": {
				"type": "Array",
				"defaultValue": [
					"circuits",
					"constructors",
					"drivers",
					"laptimes",
					"pitstops",
					"qualifying",
					"races",
					"results"
				]
			},
			"circuits": {
				"type": "String"
			}
		},
		"annotations": []
	}
}