pipeline/Azure databricks to SQL server.json
{
	"name": "Azure databricks to SQL server",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('the_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"exportSettings": {
										"type": "AzureDatabricksDeltaLakeExportCommand"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "azureblobstorage_staging",
										"type": "LinkedServiceReference"
									},
									"path": "staging-container",
									"enableCompression": true
								},
								"parallelCopies": 10
							},
							"inputs": [
								{
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "on_premdb_races",
									"type": "DatasetReference",
									"parameters": {
										"sql_table_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "the_names",
					"value": [
						"circuits",
						"constructors",
						"drivers",
						"laptimes",
						"pitstops",
						"qualifying",
						"races",
						"results"
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[delete_from_all_tables]"
				},
				"linkedServiceName": {
					"referenceName": "onpremserver",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"the_names": {
				"type": "Array",
				"defaultValue": [
					"circuits",
					"constructors",
					"drivers",
					"laptimes",
					"pitstops",
					"qualifying",
					"races",
					"results"
				]
			},
			"circuits": {
				"type": "String"
			}
		},
		"annotations": []
	}
}